{% load i18n %}
<!-- Login box -->
<section class="box login">
  {% if user.is_authenticated %}
  <p>{% trans "Logged as" %} <a href="{% url 'simpleblog:user-posts' request.user %}">{{ request.user }}</a></p>
  <a href="{% url 'accounts:logout' %}">
    <button type="button" style="margin-left:auto; margin-right:auto;">
      {% trans "Logout" %}
    </button>
  </a>
  {% else %}

  <form method="post" action="{% url 'accounts:login' %}" class="loginform">
    {% csrf_token %}
    <input type="text" class="text" name="username" placeholder="Username" />
    <input type="password" class="password" name="password" placeholder="Password" />
    <input type="hidden" name="next" value="{% url 'simpleblog:home' %}" />
    <button type="submit">{% trans "Log in" %}</button>
  </form>

  <p>{% trans "or" %} <a href="{% url 'accounts:signup' %}">{% trans "register" %}</a></p>
  {% endif %}
</section>
